<html>
	<head>
		<script src="/assets/dygraphs-combined.js"></script>
		<script type="text/javascript">
			var j = 10
			var temperatures = [];
			var fan = [];
			function updateData() {
				$.get("readings/" + j, function( request ){
					temperatures = [];
					fan = [];
					for (var i=0; i < request.length; i++){
						temperatures.push([new Date (request[i].created_at), request[i].temp]);
						fan.push([new Date (request[i].created_at), request[i].fan]);
					}
					tempChart.updateOptions({"file" : temperatures});
					fanChart.updateOptions({"file" : fan});
				}, "json");
			}
			window.onload = function WindowLoad(event) {
				tempChart = new Dygraph(document.getElementById("temp_div"), temperatures, {labels : ["Date", "Temperatures"]});
				fanChart = new Dygraph(document.getElementById("fan_div"), fan, {labels : ["Date", "Fan RPM"]});
				updateData();
				setInterval(updateData, 60000)
			}
		</script>
	</head>
	<body>
		<div id="temp_div" style="width: 400px; height: 200px;"></div>
		<div id="fan_div" style="width: 400px; height: 200px;"></div>
	</body>
</html>