<html>
	<head>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {packages:["corechart"]});
			google.setOnLoadCallback(drawTempChart);
			google.setOnLoadCallback(drawFanChart);
			function drawTempChart() {
				var data = google.visualization.arrayToDataTable([
				['Time', 'Temperature'],
				<% @readings.each do |reading| %>
					[new Date ("<%=reading.created_at%>") , <%=reading.temp%>],
				<% end %>
				]);

				var options = {
					title: 'Temperature Readings'
				};

				var chart = new google.visualization.LineChart(document.getElementById("temp_div"));
				chart.draw(data, options);
			}
			function drawFanChart() {
				var data = google.visualization.arrayToDataTable([
				['Time', 'RPMs'],
				<% @readings.each do |reading| %>
					[new Date ("<%=reading.created_at%>") , <%=reading.fan%>],
				<% end %>
				]);

				var options = {
					title: 'Fan RPM'
				};

				var chart = new google.visualization.LineChart(document.getElementById("fan_div"));
				chart.draw(data, options);
			}
		</script>
	</head>
	<body>
		<div id="temp_div" style="width: 400px; height: 200px;"></div>
		<div id="fan_div" style="width: 400px; height: 200px;"></div>
	</body>
</html>