<html>
	<head>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {packages:["corechart"]});
			var j = 3
			var temperatures = [['Time', 'Temperature']]
			var fan = [['Time', 'fan']]
			google.setOnLoadCallback(function() {
				drawChart(temperatures, "temp_div")
				drawChart(fan, "fan_div")
			});
			function updateData() {
				temperatures = [['Time', 'Temperature']]
				fan = [['Time', 'fan']]
				$.get("readings/" + j, function( request ){
					for (var i=0; i < request.length; i++){
						temperatures.push([new Date (request[i].created_at), request[i].temp]);
						fan.push([new Date (request[i].created_at), request[i].fan]);
					}
				}, "json");
			}
			function drawChart(readings, elementDiv) {
				console.log(readings);
				data = google.visualization.arrayToDataTable(readings);
				var chart = new google.visualization.LineChart(document.getElementById(elementDiv));
				chart.draw(data);
				return chart
			}
			function update() {
				j += 1;
				updateData();
				drawChart(temperatures, "temp_div")
			}
			update();
			setInterval(update, 1000)
		</script>
	</head>
	<body>
		<div id="temp_div" style="width: 400px; height: 200px;"></div>
		<div id="fan_div" style="width: 400px; height: 200px;"></div>
	</body>
</html>