<html>
	<head>
		<script src="/assets/dygraphs-combined.js"></script>
		<script src="/assets/bootstrap.min.js"></script>
		<script type="text/javascript">
			$('.dropdown-toggle').dropdown()
			var j = 10
			var temperatures = [];
			var fan = [];
			var options = {"colors" : "#FF0000"}
			function updateData() {
				$.get("readings/" + j, function( request ){
					temperatures = [];
					fan = [];
					for (var i=0; i < request.length; i++){
						temperatures.push([new Date (request[i].created_at), request[i].temp]);
						fan.push([new Date (request[i].created_at), request[i].fan]);
					}
					tempChart.updateOptions({"file" : temperatures});
					fanChart.updateOptions({"file" : fan});
				}, "json");
			}
			window.onload = function WindowLoad(event) {
				tempChart = new Dygraph(document.getElementById("temp_div"), temperatures, jQuery.extend({labels : ["Date", "Temperatures"]}, options));
				fanChart = new Dygraph(document.getElementById("fan_div"), fan, jQuery.extend({labels : ["Date", "Fan RPM"]}, options));
				updateData();
				setInterval(updateData, 20000)
			}
		</script>
		<link rel="stylesheet" href="/assets/bootstrap.min.css"
	</head>
	<body>
		<div id="widget-01" style="width: 425px; height: 300px;" class="well">
			<nav class="navbar" role="navigation">
				<div class="navbar-brand">Temperature</div>
				<button type="button" onClick="updateData();" class="btn btn-default pull-right navbar-btn">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
				<button type="button" class="btn btn-default pull-right navbar-btn">
					<span class="glyphicon glyphicon-list"></span>
				</button>
			</nav>
			<div id="temp_div" style="width: 400px; height: 200px;"></div>
		</div>
		<br><br>
		<div id="fan_div" style="width: 400px; height: 200px;"></div>
	</body>
</html>