<html>
	<head>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			temp_data = [['Time', 'Temperature'], <% @readings.each do |reading| %>[new Date ("<%=reading.created_at%>") , <%=reading.temp%>],<% end %>]
			fan_data = [['Time', 'RPMs'], <% @readings.each do |reading| %>[new Date ("<%=reading.created_at%>") , <%=reading.fan%>],<% end %>]
			google.load("visualization", "1", {packages:["corechart"]});
			google.setOnLoadCallback(function() {drawChart(temp_data, "temp_div")});
			google.setOnLoadCallback(function() {drawChart(fan_data, "fan_div")});
			function drawChart(readings, elementDiv) {
				data = google.visualization.arrayToDataTable(readings);

				var chart = new google.visualization.LineChart(document.getElementById(elementDiv));
				chart.draw(data);
			}
		</script>
	</head>
	<body>
		<div id="temp_div" style="width: 400px; height: 200px;"></div>
		<div id="fan_div" style="width: 400px; height: 200px;"></div>
	</body>
</html>